page-calculator {
    .input-num{
        display: block;
        padding-top: 30px;
        padding-left: 0;
        height: 60px;       
        font-size: 20px;
        line-height: 55px;
    }
    .btn-design{
        font-size: 30px;
        height: 90px;
        width: 90px;
    }
}
