page-calculator {
    .input-num{
        display: block;
        padding-top: 30px;
        padding-left: 0;
        height: 60px;       
        font-size: 30px;
        line-height: 55px;
    }

    .input-num2{
        font-size: 30px;        
    }

    .btn-design{
        font-size: 30px;
        height: 80px;
        width: 80px;
    }
}
